button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor: pointer;
    background-color: #e6e6e6;
}

.wrapper{
   background-color: black;
   border-radius: 1em;

   padding: 1em;

   box-shadow: 0 0 1em 0.5em #505050;
}

.orange {
    background-color: #ff9500;
    color: white;
}

.gray {
    background-color: #505050;
    color : white;
}

.gray1{
    background-color: #505050;
    color : white;
    width: 6.5em;
}

.result {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3em;
    font-size: 4em;
}